.picker {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 100%;
    margin-top: -1px;
    z-index: 1070;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.picker__input {
    cursor: default
}

.picker__holder {
    width: 100%;
    overflow-y: auto;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-width: 0;
    border-bottom-width: 0;
    min-width: 18rem;
    max-width: 20rem;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    border-bottom-right-radius: .1875rem;
    border-bottom-left-radius: .1875rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .1)
}

.picker--opened .picker__holder {
    max-height: 480px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    display: block
}

.picker__box {
    padding: .9375rem
}

.picker__header {
    text-align: center;
    position: relative;
    font-size: .9375rem;
    line-height: 1;
    padding-top: .9375rem;
    padding-bottom: .9375rem
}

.picker__month,
.picker__year {
    font-weight: 500;
    display: inline-block;
    margin-left: .3125rem;
    margin-right: .3125rem
}

.picker__year {
    color: #999;
    font-size: .75rem;
    font-weight: 400
}

.picker__select--month,
.picker__select--year {
    border: 1px solid #ddd;
    padding: .4375rem .875rem;
    font-size: .8125rem;
    line-height: 1.5385;
    color: #333;
    background-color: #fff;
    background-clip: padding-box;
    margin-left: .3125rem;
    margin-right: .3125rem;
    outline: 0;
    white-space: nowrap
}

.picker__nav--next,
.picker__nav--prev {
    position: absolute;
    padding: .5rem;
    top: 50%;
    margin-top: -1rem;
    line-height: 1;
    border-radius: .1875rem;
    transition: all ease-in-out .15s
}

@media (prefers-reduced-motion:reduce) {

    .picker__nav--next,
    .picker__nav--prev {
        transition: none
    }
}

.picker__nav--next:before,
.picker__nav--prev:before {
    font-family: "Font Awesome 6 Free", "FontAwesome", sans-serif;
    font-weight: 900;
    display: block;
    font-size: 0.85rem;
    width: 1rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.picker__nav--next:hover,
.picker__nav--prev:hover {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5
}

.picker__nav--prev {
    left: 0
}

.picker__nav--prev:before {
    content: "\f053";
}

.picker__nav--next {
    right: 0
}

.picker__nav--next:before {
    content: "\f054";
}

.picker__nav--disabled,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover,
.picker__nav--disabled:hover {
    cursor: default;
    background-color: transparent
}

.picker__table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-bottom: .9375rem
}

.picker__table td {
    margin: 0;
    padding: 0
}

.picker__weekday {
    width: 14.285714286%;
    text-align: center;
    padding-bottom: .46875rem;
    padding-top: .9375rem;
    color: #999;
    font-weight: 400
}

.picker__day {
    padding: .4375rem;
    min-width: 2.12503rem;
    border-radius: .1875rem
}

.picker__day--today {
    position: relative;
    background-color: #f5f5f5
}

.picker__day--today:before {
    content: "";
    position: absolute;
    top: .125rem;
    right: .125rem;
    width: 0;
    height: 0;
    border-top: .375rem solid #00BC7E;
    border-left: .375rem solid transparent
}

.picker__day--outfocus {
    color: #ccc
}

.picker__day--infocus,
.picker__day--outfocus {
    transition: all ease-in-out .15s
}

@media (prefers-reduced-motion:reduce) {

    .picker__day--infocus,
    .picker__day--outfocus {
        transition: none
    }
}

.picker__day--infocus:hover,
.picker__day--outfocus:hover {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5
}

.picker__day--highlighted:before {
    border-top-color: #fff
}

.picker--focused .picker__day--highlighted,
.picker__day--highlighted,
.picker__day--highlighted:hover {
    cursor: pointer;
    color: #fff;
    background-color: #002959
}

.picker--focused .picker__day--selected,
.picker__day--selected,
.picker__day--selected:hover {
    background-color: #002959;
    color: #fff
}

.picker__day--disabled,
.picker__day--disabled:hover {
    background-color: transparent;
    color: #999;
    cursor: default
}

.picker__day--disabled:before {
    border-top-color: #999
}

.picker__day--highlighted .picker__day--disabled,
.picker__day--highlighted .picker__day--disabled:hover {
    background-color: transparent
}

.picker__footer {
    text-align: center
}

.picker__footer button {
    border: 0;
    padding: .4375rem .875rem;
    font-weight: 500;
    cursor: pointer;
    background-color: #fafafa;
    border: 1px solid #ddd;
    color: #333;
    display: inline-block;
    margin: .3125rem;
    border-radius: .1875rem;
    transition: all ease-in-out .15s
}

@media (prefers-reduced-motion:reduce) {
    .picker__footer button {
        transition: none
    }
}

.picker__footer button:focus,
.picker__footer button:hover {
    outline: 0;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.picker__footer button:before {
    height: 0
}

.picker__footer button:disabled,
.picker__footer button:disabled:focus,
.picker__footer button:disabled:hover {
    background-color: transparent;
    color: #999;
    cursor: default
}

.picker__button--today:before {
    content: '';
    margin-right: .625rem;
    position: relative;
    display: inline-block;
    top: -.0625rem;
    width: 0;
    border-top: .375rem solid #2196f3;
    border-left: .375rem solid transparent
}

.picker__button--close:before {
    content: '\D7';
    display: inline-block;
    position: relative;
    margin-right: .625rem;
    top: .0625rem;
    line-height: 1;
    font-size: 1rem
}

.picker__button--clear:before {
    content: '';
    display: inline-block;
    position: relative;
    top: -.1875rem;
    width: .5rem;
    margin-right: .625rem;
    border-top: .125rem solid #f44336
}

.picker--time {
    min-width: 16rem;
    max-width: 20rem
}

.picker--time .picker__box {
    padding: 0
}

.picker__list {
    list-style: none;
    padding: .5rem 0;
    margin: 0;
    max-height: 250px;
    overflow-y: auto
}

.picker__list-item {
    position: relative;
    padding: .5rem 1rem;
    transition: all ease-in-out .15s
}

@media (prefers-reduced-motion:reduce) {
    .picker__list-item {
        transition: none
    }
}

.picker__list-item:focus,
.picker__list-item:hover {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5;
    z-index: 10
}

.picker--time .picker__button--clear {
    display: block;
    width: 100%;
    margin: 0;
    padding: .4375rem .875rem;
    background-color: #fafafa;
    color: #333;
    outline: 0;
    border: 0;
    border-top: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    margin-bottom: -.5rem;
    margin-top: .5rem;
    transition: all ease-in-out .15s
}

@media (prefers-reduced-motion:reduce) {
    .picker--time .picker__button--clear {
        transition: none
    }
}

.picker--time .picker__button--clear:focus,
.picker--time .picker__button--clear:hover {
    background-color: #f5f5f5;
    color: #333
}

.picker__list-item--highlighted {
    z-index: 10
}

.picker--focused .picker__list-item--highlighted,
.picker__list-item--highlighted,
.picker__list-item--highlighted:hover {
    cursor: pointer;
    color: #333;
    background-color: #f5f5f5
}

.picker--focused .picker__list-item--selected,
.picker__list-item--selected,
.picker__list-item--selected:hover {
    color: #fff;
    background-color: #2196f3;
    z-index: 10
}

.picker--focused .picker__list-item--disabled,
.picker__list-item--disabled,
.picker__list-item--disabled:hover {
    color: #999;
    background-color: transparent;
    cursor: default;
    z-index: auto
}

.AnyTime-pkr {
